body, html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    margin: 0px;
    overflow-x: hidden;
}

body{
    background: url('../images/bg.svg') no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.character{
    display: block;
    position: absolute;
    right:-1vh;
    top:31.5vh;
    height:50vh;
    width:33vw;
}

#torso{
    position: absolute;
    bottom: 0px;
    right:0px;
    height: 33vh;
    z-index: -1;
}

#table{
    position: absolute;
    bottom: -39vh;
    right:0px;
    height:40vh;
    z-index: -1;
}

#head{
    position: absolute;
    bottom: 27vh;
    right:13vh;
    height: 29vh;
    z-index: -1;
    transform: rotate(-5deg)
}

#hand{
    position: absolute;
    bottom: 2vh;
    right:48vh;
    height: 45vh;
    transform-origin: 50% 90%;
    animation: moveIt 2.5s ease-in-out infinite;
    z-index:-1;
}

@keyframes moveIt {
    0%, 100% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}

.header{
    position: relative;
    height: 110vh;
    width:100%;
    margin-bottom: 0px;
}

.heading{
    position: absolute;
    font-size: 3em;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    z-index: 1;
}

.heading h1{
    margin: 10px;
}

.bottomwave{
    display: block;
    margin:0px;
    position: absolute;
    bottom:0px;
    left:-10px;
    width:calc(100% + 10px);
    height:100px;
    z-index:1;
}

nav{
    display: block;
    position: absolute;
    top:0px;
    width:100%;
    color: black;
    min-height:50px;
}

nav ul{
    display: block;
    position: absolute;
    right:20px;
    margin-top: 30px;
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color:#000;
    text-decoration: none;
}

nav #navbg{
    display: block;
    position: absolute;
    right: -10px;
    top:-5px;
}

nav #navbg img{
    width:900px;
    height:100px;
}

.page{
    display: block;
    margin: 0px;
    min-height: 450px;
    padding: 50px;
    width:calc(100%-100px);
    background-color: #fff;
    color:gray;
}

.page h1::before,.page h1::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid gray;
    width: 6rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}

#terminal{
    background-color: rgb(53, 53, 53);
    width: 80%;
    padding:20px;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 0px 0px 20px 20px;
    color:#fff;
    text-align: left;
    min-height: 0px;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

#titlebar{
    background-color: grey;
    width:80%;
    text-align: left;
    padding-right:20px;
    padding-left:20px;
    border-radius: 20px 20px 0 0;
    margin:0px;
    height:30px;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.circle{
    display: inline-block;
    height:20px;
    width:20px;
    margin-left:5px;
    margin-top:5px;
    border-radius: 50%;
}

#contact img{
    height: 100px;
    width: 100px;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.125s;
    -webkit-transition-duration: 0.125s;
}

#contact img:hover{
    height:120px;
    width:120px;
    margin-top:-10px;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tabs{
    height: 900px;
    width: 100%;
    display: block;
    position: relative;
    background: url('../images/bg.svg') no-repeat;
    background-size: cover;
    overflow: hidden;
}

.tab{
    height:400px;
    width: 60%;
    color: rgb(112, 112, 112);
    display: block;
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    pointer-events: none;
    transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    opacity:0.5;
    z-index: -1;
}

#window{
    display: block;
    height: 100%;
    width: 100%;
    transform: translate(20%,250px);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.5s;
}

#topwave{
    display: block;
    margin:0px;
    position: absolute;
    top:0px;
    transform: scale(-1,-1);
    left:-10px;
    width:calc(100% + 10px);
    height:100px;
    z-index: 1;
}

.uparrow{
    display: block;
    cursor: pointer;
    position: absolute;
    top:0px;
    width:100%;
    opacity: 0.3;
    text-align: center;
    color:gray;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url('../images/arrow.svg') no-repeat;
    background-size: contain;
    background-position: center;
    transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
}
.uparrow:hover{
    background-color: lightgrey;
}

.downarrow:hover{
    background-color: lightgrey;
}

.downarrow{
    display: block;
    cursor: pointer;
    position: absolute;
    bottom:0px;
    width:100%;
    opacity:0.4;
    text-align: center;
    color:gray;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url('../images/arrow.svg') no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
    transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
}

footer{
    background-color: #fff;
    color:gray;
    text-align:center;
    padding-bottom:20px;
}

footer a{
    color:gray;
}

.photo{
    display: inline-block;
    /* float: left; */
    position: relative;
    cursor: pointer;
    background-color: rgb(84, 171, 197);
    border-radius: 20px;
    overflow: hidden;
    width: calc(50% - 30px);
    margin: 30px;
    height:340px;
}

.photo .bg{
    min-height:100%;
    min-width: 100%;
    max-height: none;
    max-width: none;
    position: absolute;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.photo img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.desc{
    display: block;
    float: left;
    width: calc(50% - 90px);
    margin: 30px;
    height:340px;
}

.desc .title{
    display: block;
    float: left;
    position: relative;
    top: 50%;
    padding-left: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    font-size: 2em;
    color: black;
    margin-top: -40px;
}

@media only screen and (max-width: 1000px) {
    .photo{
        width: calc(100% - 60px);
        height: 140px;
    }
    .desc{
        width: calc(100% - 60px);
        height: 140px;
    }
    .desc .title{
        padding-left: 0px;
    }
    .title h1{
        margin-top: -60px;
    }
}

@media only screen and (max-width: 760px) {
    .heading{
        transform: translate(-50%, -50%);
    }
    .character{
        right:-10vh;
    }
    #terminal{
        width: 90%;
    }
    #titlebar{
        width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    .page h1::before,.page h1::after {
        display: none;
    }
}

@media only screen and (max-width: 510px) {
    .heading{
        font-size: 2em;
        transform: translate(-50%, -100%);
    }
    #hand{
        z-index: 2;
    }
}

@media only screen and (max-width: 480px) {
    #terminal{
        width:110%;
        margin-left: -10%;    
    }
    #titlebar{
        width:110%;
        margin-left: -10%;    
    }
    
}

@media only screen and (max-width: 450px) {
    .title h1{
        font-size: 1.5em;
    }
    nav ul li{
        margin-right: 10px;
    }
}

@media only screen and (max-width: 370px) {
    nav ul li{
        margin-right: 0px;
        font-size: 0.9em;
    }
    nav ul li::after{
        color:gray;
        content: ' |';
    }
    
}
